<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myplayerdemo">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/movie"
        android:name=".MyApp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:hardwareAccelerated="true">

        </activity>
        <activity android:name=".Zxing.CaptureActivity"></activity>
        <activity android:name=".activitys.MainListAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.MakeQrbitmap"></activity>
        <activity android:name=".activitys.Addaddress"></activity>
        <activity android:name=".activitys.Play"></activity>
        <activity android:name=".activitys.Qrimageshow"></activity>
        <activity android:name=".activitys.Qrimageshow2"></activity>
        <activity android:name=".activitys.Qrimageshow1"></activity>
        <activity android:name=".activitys.ThirdCenter"></activity>
        <activity android:name=".activitys.AddPage"></activity>
        <activity android:name=".activitys.MakeQrbitmap1"></activity>
        <activity android:name=".activitys.NohttpDemo"></activity>
        <activity android:name=".activitys.FileDownappDemo"></activity>
        <!---表单验证库页面-->
        <activity android:name=".forms.FormAct"></activity>
        <activity android:name=".lock.LockTest"></activity>
        <activity android:name=".activitys.FileDownappXutilsDemo"></activity>
        <activity android:name="me.zhanghai.android.patternlock.SetPatternActivity"></activity>
    <activity android:name=".lock.SampleConfirmPatternActivity"></activity>
        <activity android:name="me.zhanghai.android.patternlock.ConfirmPatternActivity"></activity>
    <activity android:name=".views.Zuniview"></activity>
        <activity android:name=".views.ParallaxScrollViewActivity"></activity>
        <activity android:name=".tabs.Tab1"></activity>
        <activity android:name=".activitys.FileDownappOKGODemo"></activity>
        <activity android:name=".activitys.FileDownDemo"></activity>
    </application>

</manifest>